{% extends "paginas/_layout.html" %}

{% block title %}Trabajo Practico Final - Pedidos{% endblock title %} 

{% block contenido %}
    <br>
    <h3>Pedidos</h3>
    <p>
        <a class="badge badge-primary " href="{% url 'pedidos:crearpedido' %}">nuevo</a>
    </p>
    <ul class="list-group">
        {% for pedido in pedidos %}
            <li class="list-group-item list-group-item-action flex-column align-items-start"> 
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Id: {{pedido.id}} - Paciente: {{pedido.paciente|title}}</h5>
                    <small class="text-muted">fecha: {{pedido.fechahora|date:"D d M Y"}} </small>
                </div>
                <div>Vendedor: {{ pedido.vendedor_str }}</div>
                <div>Estado: {{ pedido.estado_str|title }}</div>
                <div>
                    <a href="{% url 'pedidos:verpedido' pedido.id %}" class="badge badge-secondary">modificar</a>
                    <a href="#" class="badge badge-light ">eliminar</a>
                </div>
            </li>
        {% empty %}
            <li> no hay pedidos </li>
        {% endfor %}
    </ul>
{% endblock contenido %}
