{% extends "paginas/_layout.html" %}

{% block title %}Trabajo Practico Final - Pedidos Taller{% endblock title %} 

{% block contenido %}
    <br>
    <h3>Pedidos Taller</h3>
    <ul class="list-group">
        {% for pedido in pedidos %}
            <li class="list-group-item list-group-item-action flex-column align-items-start"> 
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Id: {{pedido.id}} - Paciente: {{pedido.paciente|title}}</h5>
                    <small class="text-muted">fecha: {{pedido.fechahora|date:"D d M Y"}} </small>
                </div>
                Estado: {{ pedido.estado_str|title }}
                <div>
                    <a href="{% url 'taller:verpedido' pedido.id %}" class="badge badge-secondary">ver</a>
                    <a href="{% url 'taller:cambiarestado' pedido.id %}" class="badge badge-secondary">cambiar estado</a>
                </div>
            </li>
        {% empty %}
            <li> no hay pedidos </li>
        {% endfor %}
    </ul>
{% endblock contenido %}
